@charset "UTF-8";
/* Variables couleurs */
.hidden {
  display: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox-content {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-close {
  position: fixed;
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.lightbox-close {
  top: 5%;
  right: 5%;
}

.lightbox-prev {
  text-align: end;
  width: 24%;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}

.lightbox-next {
  text-align: left;
  width: 24%;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}

.lightbox-reference {
  font-size: 1.5rem;
  color: white;
}

.lightbox-categorie {
  font-size: 1.5rem;
  color: white;
}

.lightbox-image {
  max-width: 60vw;
  max-height: 80vh;
  display: block;
  width: auto;
  height: auto;
  object-fit: contain;
}

.span_containeur_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

@media (max-width: 900px) {
  .lightbox-next,
  .lightbox-prev {
    text-indent: -9999px;
    color: transparent;
  }
}
@media (max-width: 375px) {
  .lightbox-categorie,
  .lightbox-reference {
    font-size: 1rem;
  }
  .lightbox-close {
    top: 10%;
  }
}
p {
  font-weight: 300;
}

/*main {
    display: flex;
    justify-content: center;
}
*/
.text_like {
  margin: 80px 0px 80px 100px;
  font-family: "Space Mono", sans-serif;
}

.photo_container {
  /*
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 88vw;
      justify-content: space-between;
      justify-self: center;
      gap: 2em;
      padding-bottom: 50px;
  */
  /* Deux colonnes de la même largeur */
  gap: 2em;
  /* Espacement entre les colonnes */
  width: 88vw;
  justify-content: space-between;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
}
.photo_container .div_container_photo {
  height: 70vh;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 42vw;
  transition: width 0.5s ease;
}
.photo_container .div_container_photo img {
  object-fit: cover;
  display: block;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  height: 100%;
}
.photo_container .div_container_photo span {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.photo_container .div_container_photo span.photo_category {
  color: white;
  font-size: 18px;
  font-weight: 500;
  bottom: 0;
  right: 0;
  letter-spacing: 10%;
  padding: 20px;
  text-transform: uppercase;
  position: absolute;
}
.photo_container .div_container_photo span.photo_title {
  align-self: flex-start;
  color: white;
  font-size: 18px;
  font-weight: 500;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-transform: uppercase;
  align-self: end;
  width: 50%;
}
.photo_container .div_container_photo span.icon_eye {
  top: 40%;
  right: 42%;
  cursor: pointer;
  width: 150px;
  height: 150px;
  background-image: url("./images/Group.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  align-self: center;
  justify-self: center;
}
.photo_container .div_container_photo span.icon_fullscreen {
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-self: end;
}

.photo_span_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.gallery-image:hover {
  filter: brightness(60%);
}

/* Css pour effet hover + lightbox */
#loadMoreContainer {
  justify-self: center;
  margin-top: 50px;
}
#loadMoreContainer .pagination-button {
  padding: 20px 70px 20px 70px;
  border-radius: 2px;
  border: none;
  background-color: #D8D8D8;
}

.hero {
  height: 100vh;
  /* Ajuste la hauteur selon tes besoins */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-title {
  -webkit-text-stroke: 1px white;
  color: transparent;
  background-color: transparent;
  font-style: italic;
  font-size: 7vw;
}

/* Css template_single */
.link_terms a {
  pointer-events: none;
  text-decoration: dashed;
  color: black;
  cursor: default;
}

.container_single_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  width: 88vw;
}
.container_single_content h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
  width: 70%;
}
.container_single_content .container_single_photo {
  display: flex;
  align-items: end;
  transition: all 0.5s ease;
}
.container_single_content .container_single_photo img {
  object-fit: cover;
  width: 50vw;
  height: auto;
}
.container_single_content .container_single_info {
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50vw;
  border-bottom: solid 2px #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 50px 5px 0px;
  transition: all 0.5s ease;
}
.container_single_content .container_single_info span {
  padding-bottom: 20px;
}
.container_single_content .container_single_info h2 {
  width: 60%;
}

.container_single_contact {
  height: 11.8vh;
  justify-self: center;
  align-items: center;
  border-bottom: solid 2px #000000;
  width: 88vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
/* Css navigation photo  */
.navigation-buttons {
  display: flex;
  align-self: end;
  justify-self: end;
  height: 100%;
  justify-content: space-between;
  align-items: end;
}

.nav-button {
  display: inline-block;
  position: relative;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  align-items: end;
}
.nav-button.next-photo span {
  position: absolute;
  top: -200%;
  left: -20%;
  transform: translateX(-50%);
  width: 100px;
  height: 75px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -999;
}
.nav-button.prev-photo span {
  position: absolute;
  top: -200%;
  left: 106%;
  transform: translateX(-50%);
  width: 100px;
  height: 75px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -999;
}

/*
.nav-button .thumbnail.lazyloaded {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 75px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -999;
}
*/
.nav-button:hover .thumbnail.lazyloaded {
  opacity: 1;
  z-index: 2;
}

/*
.prev-photo {
    background-image: url('./images/Line_6_left.png');
}

.next-photo {
    background-image: url('./images/Line_7_right.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}
*/
.container_photo_apparente {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.container_photo_apparente .photo_area img {
  width: 45vw;
  height: 100vh;
}

/* modale.css */
#modalBtn {
  width: 15vw;
  height: 6vh;
  background-color: #D8D8D8;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

/* Contenu de la modale */
.modal-content {
  position: relative;
  overflow: hidden;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background: #fff;
  height: 70vh;
}

/* Image de la modale */
.modal-image {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  height: 8vh;
}

.modal-image img {
  position: absolute;
  left: -10%;
  width: 120%;
  height: auto;
}

.modal-form {
  display: flex;
  justify-content: center;
}
.modal-form .btn_submit {
  border-radius: 2px;
  border: none;
  height: 6vh;
}
.modal-form label {
  margin-bottom: 5px;
}
.modal-form input {
  border-radius: 8px;
  height: 4vh;
  border: solid 1px #B8BBC2;
  margin-top: 10px;
}
.modal-form textarea {
  border-radius: 8px;
  border: solid 1px #B8BBC2;
  margin-top: 10px;
}

.wpcf7-submit {
  width: 100%;
  height: 5vh;
  background-color: #D8D8D8;
  border: none;
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

/* Style pour l'en-tête */
.site-header {
  background-color: white;
  max-width: 100%;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style pour le logo */
.site-logo img {
  max-height: 4vh;
  max-width: 20vw;
}

/* Style pour le menu de navigation */
.site-navigation {
  display: flex;
  font-size: 16px;
}

#nav-header {
  width: 30%;
  justify-content: center;
}
#nav-header .nav-menu {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: transform 0.5s ease;
  z-index: 1000;
}

.nav-links.active {
  transform: translateY(0);
  opacity: 1;
  position: fixed;
}

.navbar .burger-menu {
  top: 50px;
  right: 50px;
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99;
}
.navbar .burger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}

.burger-menu.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 1024px) {
  .photo_container .div_container_photo {
    height: 50vh;
  }
  .container_single_content .container_single_info h2 {
    width: 100%;
  }
  .container_single_contact {
    grid-template-columns: 1.2fr 1fr 2fr;
  }
}
@media (max-width: 900px) {
  .site-header {
    position: fixed;
    top: 0;
  }
  main {
    margin-top: 50px;
  }
  .navbar .burger-menu {
    display: flex;
    /* Cacher l'icône burger */
  }
  .navbar .nav-menu a {
    color: white;
  }
  .container_single_content .container_single_info h2 {
    width: 100%;
    font-size: 46px;
  }
  .container_single_contact {
    grid-template-columns: 1.4fr 1fr 2fr;
  }
  .nav-links {
    margin-top: 70px;
    background-color: #E00000;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translateY(-120%);
    opacity: 0;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
  }
  .nav-links ul li {
    color: white;
    font-size: 44px;
    padding-bottom: 40px;
  }
}
/* Tablettes en mode portrait */
@media (max-width: 768px) {
  .photo_container .div_container_photo {
    height: 40vh;
    flex-basis: 40vw;
  }
  .container_single_content .container_single_info h2 {
    width: 100%;
    font-size: 46px;
  }
}
/* Petits écrans (grands smartphones) */
@media (max-width: 650px) {
  .photo_container .div_container_photo {
    height: 40vh;
    flex-basis: 42vw;
  }
  .container_select {
    flex-direction: column;
  }
  .container_select #filter_date {
    margin-left: 0px !important;
  }
  .container_select #filter_format {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
  .container_select #filter_categorie {
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
  .container_select .custom_select {
    width: 70vw;
  }
  .container_single_content {
    flex-direction: column-reverse;
    width: 80vw;
  }
  .container_single_content .container_single_info {
    width: 90%;
    border-bottom: none;
  }
  .container_single_content .container_single_info h2 {
    width: 100%;
    font-size: 46px;
  }
  .container_single_content .container_single_photo img {
    width: 100%;
  }
  .container_single_contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-top: solid 2px #000000;
    height: 15vh;
  }
  .container_single_contact p {
    margin-top: 20px;
    padding-right: 70px;
  }
  .navigation-buttons {
    display: none;
  }
  #modalBtn {
    width: 65%;
    height: 10vh;
    margin-bottom: 20px;
  }
  .text_like {
    width: 100%;
    text-align: center;
    margin: 50px 0px 50px 0px;
  }
  #nav-footer .nav-menu {
    flex-direction: column;
    align-items: center;
  }
  #nav-footer .nav-menu li {
    padding-bottom: 20px;
  }
  .site-logo img {
    max-width: 50vw;
  }
}
@media (max-width: 375px) {
  #nav-footer {
    width: 100%;
  }
  .photo_container .div_container_photo {
    height: 30vh;
    flex-basis: 42vw;
  }
  .photo_container .div_container_photo span.icon_eye {
    width: 100px;
    height: 100px;
  }
  .photo_container .div_container_photo span.photo_title {
    padding: 0px 0px 20px 20px;
    font-size: 16px;
  }
  .photo_container .div_container_photo span.photo_category {
    font-size: 16px;
  }
}
/* Style pour le footer */
.site-footer {
  padding: 20px 0;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#nav-footer {
  width: 100%;
}
#nav-footer .nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* Css balise select */
.container_select {
  height: auto;
  width: 88vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 12vh;
  margin-bottom: 8vh;
  position: relative;
  z-index: 100;
}
.container_select #filter {
  z-index: 100;
}
.container_select #filter_date {
  margin-left: auto;
}
.container_select #filter_categorie {
  margin-right: 80px;
}
.container_select #filter_format {
  margin-right: 20px;
}

.hidden {
  display: none;
}

.custom_select {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 5vh;
  width: 18vw;
  box-shadow: 0 0 0 0.3px #B8BBC2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

.border_switch {
  border-radius: 8px 8px 0px 0px;
}

.custom_default {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #313144;
  text-transform: uppercase;
}

.custom_options {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0.3px #B8BBC2;
  border-radius: 0px 0px 8px 8px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 1px 0 0 #B8BBC2, -1px 0 0 #B8BBC2;
  z-index: 1000;
}

.custom_options li {
  height: 45px;
  padding: 0 0 0 20px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #313144;
  display: flex;
  align-items: center;
}
.custom_options li:nth-child(1):hover {
  background-color: #FFFFFF;
  animation-delay: 0s;
}
.custom_options li:nth-child(2):hover {
  background-color: #FFD6D6;
  animation-delay: 0.5s;
}
.custom_options li:nth-child(3):hover {
  background-color: #FE5858;
  animation-delay: 1s;
}
.custom_options li:nth-child(4):hover {
  background-color: #E00000;
  color: #FFFFFF;
  animation-delay: 2s;
}
.custom_options li:nth-child(n+5):hover {
  background-color: #E00000;
  color: #FFFFFF;
  animation-delay: 0.4s;
}
.custom_options li:last-child {
  border-radius: 0px 0px 8px 8px;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Déplace vers le haut */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    /* Arrive à sa position normale */
  }
}
.custom_options li.anim_select {
  animation: slideDown 0.5s ease forwards;
  opacity: 0;
}
.custom_options li.anim_select:nth-child(1) {
  animation-delay: 0.1s;
}
.custom_options li.anim_select:nth-child(2) {
  animation-delay: 0.25s;
}
.custom_options li.anim_select:nth-child(3) {
  animation-delay: 0.35s;
}
.custom_options li.anim_select:nth-child(4) {
  animation-delay: 0.45s;
}
.custom_options li.anim_select:nth-child(n+5) {
  animation-delay: 0.55s;
}
.custom_options li.anim_select:last-child {
  border-radius: 0px 0px 8px 8px;
}

/*# sourceMappingURL=style.css.map */
